<!-- Struktur Dasar HTML -->
<!DOCTYPE html>

<!--ELEMEN HTML-->
<!--digunakan untuk memberitahukan browser bahwa ini merupakan berkas HTML-->
<html>
<!--ELEMEN HEAD-->
<!--berfungsi sebagai tempatnya disimpannya informasi dari dokumen HTML-->

<head>
    <title></title>
    <style></style>
    <base>
    <link>
    <meta>
    <script></script>
    <noscript></noscript>
</head>
<!--ELEMEN BODY-->
<!--menampung seluruh konten atau elemen yang akan ditampilkan di halaman browser-->

<body>
    <h1>Belajar HTML</h1>
    <ol type="1">
        <li><a href="List.html">
                <h2>List</h2>
            </a></li>
        <li><a href="Gambar.html">
                <h2>Gambar</h2>
            </a></li>
        <li><a href="TeksTerformat.html">
                <h2>Teks Terhormat</h2>
            </a></li>
        <li><a href="AchorEmphasizedImportantShortQuotations.html">
                <h2>Anchor, Emphasized Text, Important Text, dan Short quotations</h2>
            </a></li>
    </ol>
</body>

</html>